extends layout

block content

  form(id="register" name="register" action="/register" method="post")
    h1 Please Register
    #login-flash.alert.alert-danger.hidden
    input(type="hidden" name="_csrf" value=csrf)
    .form-group
      label(for="displayName") Username
      input.form-control(type="text" id="displayName" name="displayName" placeholder="username" required autofocus)
    .form-group
      label(for="email") Email
      input.form-control(type="email" id="email" name="email" placeholder="my@mail.com" required)
    .form-group
      label(for="password") Password
      input.form-control(type="password" id="password" name="password" required)

    button.btn.btn-lg.btn-primary.btn-block(type="submit") Register
