doctype html
html
  body

    p Use the following routes:

    ul
      li GET /users - get all users
      li GET /users/:id - get one user by id
      li POST /users - create new user
      li PATCH /users/:id - update user by id
      li DELETE /users/:id - delete user by id

