extends layout

block content

    h1 Congratulations

    p Your email has been verified. You can now proceed to login.
    br
    a(href="/login")
        button.btn.btn-lg.btn-primary.btn-block Log in
