extends layout

block content

    h1 Something went wrong

    p We could not verify your email. Please try again.
    br
    a(href="/resend-email-verification") Resend email with verification link
    br
    a(href="/login")
        button.btn.btn-lg.btn-primary.btn-block Log in
