doctype html
html

  head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="/style.css")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/validator/7.2.0/validator.min.js")
    //- script(src="/index.js")

  body
    .container
      include messages

      block content
